@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Poppins:wght@200;300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

/* 
.hero {
  background-color: #C2B2B3;
} */

 .hero {
   background-color: #D6C1B4;
 }

 .drkgrn {
   color: #31404C;
 }

 .name {
   margin-top: 40rem;
 }

 li > a:hover {
   background-color: #31404C important!;
 }

/* .menu-item:hover {
  background-color: #31404C;
 } */
/* .container{
    display: flex;
    justify-content: center;
    padding-top: 15rem;
} */

/* .comingSoong{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50rem;
} */

/* .h1, .h3, .strong {
    font-family: 'M PLUS 1p', sans-serif;
} */

/* Sticky Nav Bar and Footer */
/* main > .container {
    padding: 60px 15px 0;
  } */
  
  /* .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  } */