@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Poppins:wght@200;300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

 /* .hero {
   background-color: #D6C1B4;
 } */

 .hero-head {
  background-color: #BEB5B8;
}

.hero-middle {
  background-color: #DACEBB;
}

.hero-foot {
  background-color: #303f33;
  color: #D5BBB4;
}

p {
  color: #D5BBB4;
}

.button.is-text:focus {
  background-color:  #303f33;
  color: #D5BBB4;
}

.button.is-text:hover {
  background-color:  #303f33;
  color: #D5BBB4;
}

 .drkblu {
   color: #35515f;
 }

 .responsive {
  width: 100%;
  max-width: 820px;
  height: 820px;
 }

 .centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 /* .menu:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}
  
.hide {
  display: none;
}

.menu:hover + .hide {
  display: block;
  color:black;
} */